@font-face {
    font-family: 'Gotham';
    src: local('Gotham Ultra'), local('Gotham-Ultra'),
        url('fonts/Gotham-Ultra/Gotham-Ultra.woff2') format('woff2'),
        url('fonts/Gotham-Ultra/Gotham-Ultra.woff') format('woff'),
        url('fonts/Gotham-Ultra/Gotham-Ultra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}
header{
    display: flex;
    
}
header .logo{
    margin-top: 20px;
    margin-left: 15%;
    margin-bottom: 25px;
}

nav{
    margin-left: 18%;
    margin-top: 40px;
}
.topnav a{
    padding: 10px 20px 10px 20px;
    font-size: 13.5px;
    text-decoration: none;
    color: #868686
}
.topnav a:hover{
    background-color: #ffbb42;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 2px;
    color:#fff;
}
.topnav .icon{
    display: none;
}
.wrapper{
    width: 76%;
    margin: 0 auto;
}
.home__container{
    display:flex;
    background: #709dca;
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.home__container h1{
    font-family: 'Gotham';
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 105px;
    font-size: 35px;
    color:#fff;
    font-weight: lighter;
    
}
.home__container p{
    font-size: 16px;
    color: #fff;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}
.form__inputs{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.form__inputs input[type=text], [type=email]{
   width: 280px;
   height: 48px;
   border: 0px solid #fff;
   border-radius: 2px;
   padding: 0  0 0 40px;
   font-size: 13px;
   color:#b4b4b4
}
.form__inputs input[type=submit]{
    margin-left: 10px;
    width: 210px;
    font-size: 14px;
    height: 48px;
    text-transform: uppercase;
    background: #ffbb42;
    border: 0px solid #fff;
    border-radius: 2px;
    color: #fff;
    
}
.form__inputs img{
    position: relative;
    top: 2px;
    left: 32px;
   
}
.carusel{
    position: relative;
    top: 80px;
}
.inner_comp{
    position: absolute;
    right: 34.6%;
    top: 20px;
    width: 447px;
    height: 266px;
}
.carusel_buttons{
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
}
.slider{
    border: 2px solid #e0e1e1;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}
.checked{
    border: 2px solid #89d2ed;
}
.services__container{
    text-align: center;
    padding: 200px 0 150px 0;
}
.services__container h1{
    font-family: 'Gotham';
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 30px;
    color:#394b50;
    font-weight: lighter;
    
}
.services__container .main_p{
    font-size: 18px;
    color: #46575c;
}
.services{
    margin-top: 90px;
}
.first, .second, .third{
    text-align: left;
    display: flex;
    justify-content: center;
}
.in_card{
   display: flex;
   position: relative;
   right: 80px;
   margin-bottom: -10px;
}
.in_card img{
    margin-right: 28px;
}
.money{
    position: relative;
    right: 60px;
}
.educ{
    position: relative;
    right: 95px;
}
.in_card h2{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    color:#394b50;
    font-weight: bold;
    
}
.services .card{
    
    width: 500px;
    margin: 0px 100px 80px 100px;
}
.services .card p{
    font-size: 13px;
    color: #9e9e9e;
}
.mw-100{
    min-width: 50%;
}
.about__container{
    display:flex;
    background-color: #ffc155;
    padding-right: 170px;
}
.about_left{
   margin-bottom: -3px;
}
.about_right{
    margin: 0 70px 0 70px;
}
.about_right h1{
    margin-top: 165px;
    font-family: 'Gotham';
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 30px;
    color:#ffffff;
    font-weight: lighter;
}
.about_right p{
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 25px;
    color: #fff7e8;
}
.about_right input{
    font-size: 14px;
    margin-top: 40px;
    width: 145px;
    height: 45px;
    background-color: #ffc155;
    color: #fff;
    border: 1px solid #e7ad48;
}
.price__container{
    text-align: center;
    background: #e7edf3;
    padding: 0 0 165px 0 ;
}
.price__container h1{
    margin-top: 135px;
    font-family: 'Gotham';
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 30px;
    color:#394b50;
    font-weight: lighter;
}
.price_cards{
    margin-top: 80px;
    justify-content: center;
    display: flex;
}
.price__container .main_p{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color:#84959b;
    font-weight: lighter;
}
.price_cards .card{
    width: 390px;
    height: 440px;
    background: #fff;
    border: 1px solid #ccd5df;
    border-radius: 3px;
    color: #818b95;

}
.price_cards .premium_card{
    position: relative;
    bottom: 30px;
    width: 395px;
    height: 500px;
    background: #709dca;
    border-radius: 3px;
    color: #fff;
}
.price_cards .card h2{
    font-family: 'Lato', sans-serif;
    margin-top: 55px;
    font-size: 25px;
    font-weight: lighter;
    
}
.price_cards .premium_card h2{
    font-family: 'Lato', sans-serif;
    margin-top: 85px;
    font-size: 25px;
    font-weight: 100;
    color: #ffffff;
}
.premium_card .price{
    color: #fff;
}
.price{
    margin-top: 20px;
    display:flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    color: #ffbb42;
    font-weight: bold;
}
.price p:first-child{
    font-size: 30px;
}
.price p:last-child{
    
    font-size: 60px;
}
.desc_price{
    font-size: 13.5px;
}
.price__container .description{
    margin-top: 30px;

}
.price__container .description p{
   padding-bottom: 15px;
}
.premium_card .description p::before{
    border-top: 1px solid #8eb8e2;
    width: 90%;
    content:"";
    display: block;
    margin: 0 auto;
    padding-top: 15px;
}
.card .description p::before{
    border-top: 1px solid #e2e9f0;
    width: 90%;
    content:"";
    display: block;
    margin: 0 auto;
    padding-top: 15px;
}
.price__container input{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-top: 15px;
    height: 40px;
    width: 130px;
    background: #ffbb42;
    color: #fff;
    border-radius: 3px;
    border: 0px ;
}
.howitwork__container{
    text-align: center;
    padding: 150px 0;
}
.howitwork__container h1{
    font-family: 'Gotham';
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 30px;
    color:#394b50;
    font-weight: lighter;
}
.howitwork__container .main_p{
    color:#394b50;
    font-size: 18px;
}
.howitwork__container input{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-top: 90px;
    height: 45px;
    width: 165px;
    background: #ffbb42;
    color: #fff;
    border: none;
    border-radius: 3px;
}
.center_arr{
    position: relative;
    top: 60px
}
.works_cards{
    margin-top: 75px;
    display: flex;
}
.works_cards .card h2{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-top: 90px;
    color: #394b50;
}
.works_cards .card p{
    margin-top: 25px;

    line-height: 23px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #7b7b7b;
}

.clients__container{
    text-align: center;
    background: #ffc155;
    padding: 135px 0 150px 0;
}
.clients__container h1{
    font-family: 'Gotham';
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 30px;
    color:#ffffff;
    font-weight: lighter;
}
.clients__container .main_p{
    color:#ffffff;
    font-size: 18px;
}
.clients_cards{
    margin-top: 60px;
}
.first_line{
    display: flex;
}
.second_line{
    display: flex;
}
.face_img{
    height: 120px;
}
.clients_cards .card{
    display: flex;
    background: #fff;
    margin-top: 20px;
    margin-right: 30px;
    padding: 50px 30px 50px 25px;
    height: 200px;
}
.clients_cards .card p{
    text-align: left;
    line-height: 24px;
    font-size: 13px;
    margin-left:40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #7b7b7b;

}
.left_lap{
   float: left;
   position: relative;
   left: 10px;
}
.right_lap{
   position: relative;
   top: 5px;
   margin-left: 50px;
}
.clients_cards .author p{
   margin-top: 20px;
   font-family: 'Lato', sans-serif;
   text-transform: uppercase;
   font-size: 14px;
   color: #99a9ae;
   font-weight: 100;
} 
.clients_cards .author span{
    color: #f6772c;
}


.contact__container{
    text-align: center;
}
.contact__container h1{
   margin-top: 150px;
   font-family: 'Gotham';
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 30px;
    color:#394b50;
    font-weight: lighter;
}
.contact__container .main_p{
    color:#394b50;
    font-size: 18px;
}
.contact__container input[type=text], [type=email]{
   border: 1px solid #cbcbcb;
}
.contact__container .form__inputs input[type=email]{
    width: 390px;
}
.map{
    margin-top: 50px;
    position: absolute;
    right: 20%;
   
}
.inner_circle{

    position: relative;
    bottom: 240px;
}
.circle{
    margin-top: 80px;
    position: relative;
    margin-bottom: 70px;
}
.circle .logo{
    position: relative;
    bottom: 130px;
}
.inner_circle .disc{
    margin-top: 20px;
}
.inner_circle h2{
    font-size: 16px;
    color: #fff;
    font-weight: normal;
}
.inner_circle p{
    color: #9ea9ac;
    margin-top: 5px;
    font-size: 14px;
}
.inner_circle p:last-child{
    color: #ffbb42;
}
footer{
    text-align: center;
}
footer nav{
    margin-left: 0%;
   
}
.line{
    display: block;
    background: #e3e7ec;
    height: 1px;
    width: 100%;
}
footer nav .topnav a{
    color: #394b50;
    font-size: 13px;
}
footer .phone{
    margin-top: 25px;
}
footer .phone p{
    color: #394b50;
    font-size: 22.5px;
    cursor: pointer;
}
footer .phone img{
    position: relative;
    top: 2px;
}
.social{
    margin-top: 20px;
    margin-bottom: 50px;
    display:flex;
    justify-content: center;
 }
 .social img{
     margin-right: 15px;
    
 }
 .social img:hover{
     opacity: 0.7;
     cursor: pointer;
 }









@media screen and (max-width: 1626px){
    .form__inputs input[type=text], [type=email]{
        width: 180px;
    }
    .contact__container .form__inputs input[type=email]{
        width: 280px;
    }
    .form__inputs input[type=submit]{
        width: 150px;
    }
    .map{
        right: 12%;
    }
}
@media screen and (max-width: 1496px){
    nav{
        margin-left: 10%;
    }
    .about__container{
        padding-right: 0px;
    }
    .map{
        right: 10%;
    }

    
}
@media screen and (max-width: 1400px){
    .first_line, .second_line{
        flex-direction: column;
    }
    
}
@media screen and (max-width: 1300px){
    nav{
        margin-left: 5%;
    }
    header .logo{
        margin-left: 5%;
    }
    .about__container{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
  
    .anout_right{
        width: auto;
    }
    .about_right input{
        margin-bottom: 40px;
    }
    .map{
        right: 5%;
    }
   
    
}
@media screen and (max-width: 1166px){
    nav{
        margin-left: 1%;
    }
    
    .topnav a{
        display: none;
    }
    .topnav .icon{
       float: right;
       display:block;
       margin-top: -17px;
       color: rgb(0, 0, 0);
       font-size: 25px;
    }
    nav{
        width: 100%;
    }
    .topnav.responsive{
        position: relative;
        top:70px;
        right: 75px;
        
    }
   
    header .topnav.responsive{
        height: 380px;
    }
    .topnav.responsive a.icon{
        position: absolute;
        top: -127px;
        right: -75px;
        margin-top: 35px;
      
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
        margin-top: 5px;
    }
    .form__inputs{
        flex-direction: column;
    }
    .form__inputs input[type=text],[type=email], [type=submit]{
        margin-top: 20px;
        width: 250px;
    }
    .contact__container .form__inputs input[type=email]{
        width: 250px;
    }
    .mw-100{
        max-width: 100%;
    }  
    .in_card{
        display: block;
        position: relative;
        right: 0px;
        margin-bottom: 0px;
     }
     .services .card{
    
        width: 500px;
        margin: 20px 50px 20px 50px;
    }
    .in_card img{
        margin-right: 0px;
    }
    .price_cards{
        flex-direction: column;
        
    }
    .price__container .card{
        
        width: auto;
        margin: 0 150px;
    }
    .price__container .premium_card{
      
        margin: 50px 150px 0 150px;
        width: auto;
    }
    .works_cards{
        flex-direction: column;
    }
    .center_arr{
        transform: rotate(90deg);
        top: 0px;
        right: 40px;
        margin: 80px 0px;
    }
    .arrow{

        transform: rotate(90deg);
        margin: 80px 0px;
        position: relative;
        left: 20px;
    }
    .map{
        right: 0%;
    }
    nav{
        width: 100%;
    }
    footer .topnav.responsive{
        position: relative;
        top:70px;
        right: 75px;
        
    }
   
    footer .topnav.responsive{
        height: 380px;
    }
    footer .topnav.responsive a.icon{
        position: absolute;
        top: -127px;
        right: -75px;
        margin-top: 35px;
      
    }
    footer .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
        margin-top: 5px;
    }
   
}
@media screen and (max-width: 820px){
    .price__container .card{
        
        width: auto;
        margin: 0;
    }
    .price__container .premium_card{
      
        margin: 50px 0px 0 0px;
        width: auto;
    }
}
@media screen and (max-width: 700px){
    .first, .second, .third{
        text-align: center;
        flex-direction: column;
    }
    .services .card{
        width: auto;
        margin: 20px 50px 20px 50px;
    }
    .in_card{
        display: block;
        position: relative;
        right: 0px;
        margin-bottom: 0px;
     }
    .in_card img{
        margin-right: 0px;
    }
    .clients_cards .card .face_img{
        height: 120px;
        width: 120px;
        margin-left: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
      
    }
    .clients_cards .card{
        height: auto;
        flex-direction: column;
        width: auto;
        margin-right: 0px;
        padding: 5px;
        
    }
    .clients_cards .card p{
        margin-left: 0px;
        text-align: center;
    }
    .left_lap{
        left: 0px;
     }
   
}
@media screen and (max-width: 426px){
    .form__inputs input[type=text],[type=email], [type=submit]{
        margin-top: 20px;
        width: 165px;
    }
    .contact__container .form__inputs input[type=email]{
        width: 165px;
    }
    .circle_img{
        width: 230px;
        position: relative;
        bottom: 35px;
    }
    .map{
        height: 250px;
    }
}






